### Assignment

1. From the list (monthly_sales) above, 
- create four seperate lists frm the list for each quarter namely: q1, q2, q3, q4. 
- report what quarter had the highest amount in total revenue, 
- report the lowest.

In [1]:
# List of month_sales
monthly_sales = [120, 135, 150, 145, 155, 160, 170, 180, 190, 200, 210, 220]

# List for each quarter q1, q2, q3, q4
q1 = monthly_sales[:3]
q2 = monthly_sales[3:6]
q3 = monthly_sales[6:9]
q4 = monthly_sales[9:12]

# Creating a dictionary for total revenue of each quarter
total_quarterly_revenue = {
    'Total_revenue_in_q1': sum(q1),
    'Total_revenue_in_q2': sum(q2),
    'Total_revenue_in_q3': sum(q3),
    'Total_revenue_in_q4': sum(q4)
}

# Print total revenue for each quarter
print(total_quarterly_revenue)

# The quarter with the highest amount of revenue
print(f'The quarter with the highest amount in total revenue is {max(total_quarterly_revenue)};' 
      f'the total revenue for that quarter is {max(total_quarterly_revenue.values())}')

# The quarter with the lowest amount of revenue
print(f'The quarter with the lowest amount in total revenue is {min(total_quarterly_revenue)};' 
      f'the total revenue for that quarter is {min(total_quarterly_revenue.values())}')

{'Total_revenue_in_q1': 405, 'Total_revenue_in_q2': 460, 'Total_revenue_in_q3': 540, 'Total_revenue_in_q4': 630}
The quarter with the highest amount in total revenue is Total_revenue_in_q4;the total revenue for that quarter is 630
The quarter with the lowest amount in total revenue is Total_revenue_in_q1;the total revenue for that quarter is 405

2. Store the names of a few of your friends in a list called names. 
- Print each person’s name by accessing each element in the list, one at a time.
- Start with the list you created, but instead of just printing each person’s name, print a message to them. The text of each message should be the same, but each message should be personalized with the person’s name. hint(use may use f-strings)

In [2]:
# Creating a list of friends name
names = ['Zulaikha', 'Ibrahim', 'Dolapo']

# Print each name one at a time
print(names[0], names[1], names[2])

# Print message personalized with the name using f-strings
print(f'{names[0]} is my friend')
print(f'{names[1]} is my friend')
print(f'{names[2]} is my friend')

Zulaikha Ibrahim Dolapo
Zulaikha is my friend
Ibrahim is my friend
Dolapo is my friend

3. You are managing a list of students' names in your class. 
* Create a list called student_names containing the following student names as strings: 'Alice', 'Bob', 'Charlie', 'David', 'Eve'.
- Use the student_names list from the list above for the following operations:
  - a. Print the number of students in the class (the length of the list).
  - b. Print the first and last student names in the list.
  - c. Charlie has left the class. Remove his name from the list.
  - d. A new student, "Frank," has joined the class. Add his name to the list.
  - e. The class has been dissolved, and you need to remove all student names from the list.

In [3]:
# Creating a list of Students name
student_names = ['Alice', 'Bob', 'Charlie', 'David', 'Eve']

# Number of students in the class
print(f'The number of students in the class are {len(student_names)}')

# First and last student in the list
print(f'The first student in the list is {student_names[0]}, ' 
      f'while the last student in the list is {student_names[-1]}')

# Removing Charlie from the list 
student_names.remove('Charlie')
print(student_names)

# Adding Frank to the list
student_names.append('Frank')
print(student_names)

# Removing all students from the list
student_names.clear()
print(student_names)

The number of students in the class are 5
The first student in the list is Alice, while the last student in the list is Eve
['Alice', 'Bob', 'David', 'Eve']
['Alice', 'Bob', 'David', 'Eve', 'Frank']
[]

In [13]:
print(2100%4)
print(2100%100)
print(2100%400)

0
0
100

In [14]:
print(1992%4)
print(1992%100)
print(1992%400)

0
92
392

In [22]:
# Given number
given_number = 5  # Change this to your desired number

# Print consecutive numbers in string format
consecutive_numbers = ""
for num in range(given_number):
    consecutive_numbers += str(num)
    print(consecutive_numbers)

# Remove the trailing space
# consecutive_numbers = consecutive_numbers

# print(consecutive_numbers)

0
01
012
0123
01234

In [23]:
names = 'name'

for name in names:
    print(name)

n
a
m
e

In [36]:
floating = '33.55'
before_point = []
after_point = []

# for value in floating:
#     if type(value) == int