1. a. Write a Python program to validate a user's input of a numerical value. If the input is not a number, provide feedback; otherwise, determine if it's even or odd.

  b. Write a Python program that accepts three sides of a triangle and checks if it's an equlateral, isosceless or scalene triangle.
Note: equilateral triangle - has 3 equal sides, isosceles triangle- has at least 2 equal sides. scalene triangle - has 3 unequal sides.

In [1]:
while True:
    try:
        user_input = int(input('Please enter a number: '))
        
        if user_input % 2 == 0:
            print(f'{user_input} is an even number.')
            break
        else:
            print(f'{user_input} is an odd number.')
            break
    except:
        print('Oops! Your input is not a number. Try again...')

Please enter a number: 6.6
Oops! Your input is not a number. Try again...
Please enter a number: 6
6 is an even number.

In [4]:
while True:
    try:
        side1 = int(input('Enter the first side of the triangle: '))
        side2 = int(input('Enter the second side of the triangle: '))
        side3 = int(input('Enter the third side of the triangle: '))

        if side1 == side2 and side1 == side3 and side2 == side3:
            print('The triangle is an Equilateral triangle.')
            break
        elif side1 == side2 or side1 == side3 or side2 == side3:
            print('The triangle is an Isosceles triangle.')
            break
        else:
            print('The triangle is a Scalene triangle.')
            break
    except:
        print('Oops! Your input is not a number. Try again...')

Enter the first side of the triangle: 0
Enter the second side of the triangle: 0
Enter the third side of the triangle: 0
The triangle is an Equilateral triangle.

In [3]:
def triangle_type(a, b, c):
    if a == b == c:
        return 'Equilateral triangle'
    elif a == b or a == c or c == b:
        return 'Isoceles  triangle'
    else:
        return 'Scalene triangle'

2. a. Write a for loop that finds and prints all prime numbers from 1 to 50.
  convert the for loop-based prime number computation into a list comprehension.

  b. Given the list of dictionaries below where each dictionary represents a property, use a loop to add price per area to each dictionary: price_per_m2.

 properties = [{'price_in_usd': 68663.03, 'area_in_m2': 208, 'room_num': 3},
 {'price_in_usd': 100412.94, 'area_in_m2': 256, 'room_num': 4},
 {'price_in_usd': 41967.85, 'area_in_m2': 87, 'room_num': 4},
 {'price_in_usd': 80186.97, 'area_in_m2': 158, 'room_num': 2},
 {'price_in_usd': 48405.36, 'area_in_m2': 249, 'room_num': 3}]

In [9]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

In [10]:
prime_number = [number for number in range(2, 51) if is_prime(number)]

print(prime_number)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [9]:
prime_numbers = []

for number in range(2, 50):
    for i in range(2, number):
        if number % i == 0:
            break
    else:
        prime_numbers.append(number)
        
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [8]:
properties = [
    {'price_in_usd': 68663.03, 'area_in_m2': 208, 'room_num': 3},
    {'price_in_usd': 100412.94, 'area_in_m2': 256, 'room_num': 4},
    {'price_in_usd': 41967.85, 'area_in_m2': 87, 'room_num': 4},
    {'price_in_usd': 80186.97, 'area_in_m2': 158, 'room_num': 2},
    {'price_in_usd': 48405.36, 'area_in_m2': 249, 'room_num': 3}
]

for house in properties:
    house['price_per_m2'] = round(house['price_in_usd'] / house['area_in_m2'], 2)
    
print(properties)

[{'price_in_usd': 68663.03, 'area_in_m2': 208, 'room_num': 3, 'price_per_m2': 330.11}, {'price_in_usd': 100412.94, 'area_in_m2': 256, 'room_num': 4, 'price_per_m2': 392.24}, {'price_in_usd': 41967.85, 'area_in_m2': 87, 'room_num': 4, 'price_per_m2': 482.39}, {'price_in_usd': 80186.97, 'area_in_m2': 158, 'room_num': 2, 'price_per_m2': 507.51}, {'price_in_usd': 48405.36, 'area_in_m2': 249, 'room_num': 3, 'price_per_m2': 194.4}]

3. Write a function called square_odd that has one parameter. Your function must calculate the square of each odd number in a list.Return a Python list containing the squared values. Challenge yourself: Solve this problem with a list comprehension!

In [18]:
def square_odd(list_of_numbers):
    square_odd_numbers = [num**2 for num in list_of_numbers if num % 2 != 0]
    
    return square_odd_numbers

square_odd([1,2,3,4,5,6,7,8,9])

[1, 9, 25, 49, 81]

4. Create a Python function called classify_age that takes an age as an argument and returns the following classifications:

  If the age is less than 18, return "Minor."
  If the age is between 18 and 65 (inclusive), return "Adult."
  If the age is greater than 65, return "Senior Citizen."

In [23]:
def classify_age(age):
    if age < 18:
        return 'Minor'
    elif 18 <= age <= 65:
        return 'Adult'
    else:
        return 'Senior Citizen'
    
classify_age(17)

'Minor'